@tailwind base;
@tailwind components;
@tailwind utilities;

html > body {
  font-family: 'Nanum Myeongjo', 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  word-break: keep-all;
  background-color: #f7f6f2;
}
